.contact-modal .modal-dialog {
  width: 100% !important;
  max-width: 600px !important;
  margin-top: 120px !important;
}

.contact-alert-text {
  background-color: #111111 !important;
  color: #fff;
  font-size: 25px !important;
  font-weight: 700 !important;
  border-bottom: none !important;
}

.pop-close-button {
  padding: 16px 35px;
  transition: 250ms all ease-in-out;
  line-height: 1.4;
  border-radius: 35px;
  color: #111111 !important;
  /* background-color: transparent; */
  font-weight: 900;
}

.pop-close-button:hover {
  background: linear-gradient(to right, #fff 50%, #ffb400 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all 0.3s ease-out;

  color: #fff;
}
