.aboutme-sub-title {
  font-size: 24px !important;
  color: #fff;
  font-weight: 900 !important;
  margin-left: 6px;
  text-align: left;
}

.aboutme-personal-info {
  font-size: 16px !important;
  font-weight: 200 !important;
  text-align: left;
  font-size: 16px !important;
  line-height: 25px;
  margin-left: 6px;
}

.aboutme-personal-info span {
  font-weight: 500;
}

.aboutme-title {
  font-size: 56px;
  font-weight: 900;
  color: #fff;
  text-transform: uppercase;
  margin: 0;
  text-align: center;
  font-family: "Poppins", sans-serif;
}

.aboutme-title span {
  font-size: 56px;
  font-weight: 900;
  color: #fdb532;
  text-transform: uppercase;
  margin: 0;
  text-align: center;
  font-family: "Poppins", sans-serif;
}

.box-stats {
  padding: 20px 30px 25px 40px;
  border-radius: 5px;
  border: 3px solid #252525;
  margin-bottom: 30px !important;
}

.box-experience {
  position: relative;
  display: inline-block;
  margin: 0;
  font-size: 50px !important;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  color: #fdb532;
}

.box-experience::after {
  content: "+";
  position: absolute;
  right: -24px;
  font-size: 33px;
  font-weight: 300;
  top: 2px;
}

.box-year {
  padding-left: 45px;
  position: relative;
}

.box-year::before {
  content: "";
  position: absolute;
  left: 0;
  top: 13px;
  width: 30px;
  height: 1px;
  background: #777;
}

.downloadcv-section {
  display: inline-block;
}
.download-cv {
  padding: 16px 70px 16px 35px;
  transition: 250ms all ease-in-out;
  line-height: 1.4;
  border-radius: 35px;
  color: #fff;
  background-color: transparent;
  font-weight: 900;
  position: relative;
}

.download-cv:hover {
  background: linear-gradient(to right, #111111 50%, #ffb400 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all 0.3s ease-out;
  color: #fff;
}

.downloadcv-icon {
  position: absolute;
  right: -1px;
  top: -1px;
  bottom: 0;
  width: 55px;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 19px;
  color: #fff;
  background-color: #ffb400;
  border-radius: 50%;
}
