@media only screen and (min-width: 270px) and (max-width: 575px) {
  .home-section-title {
    font-size: 29px;
    line-height: 39px;
    padding: 0;
    margin-top: -30px;
  }
  .home-section-title-span {
    font-size: 29px;
    line-height: 39px;
    padding: 0;
  }

  .home-section-image {
    border-radius: 50%;
    width: 240px;
    height: 240px;
    border: 4px solid #252525;
    margin: 35px auto 0px;
    display: block;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .home-section-title {
    font-size: 29px;
    line-height: 39px;

    padding: 0;
    margin-top: -30px;
  }
  .home-section-title-span {
    font-size: 29px;
    line-height: 39px;
    padding: 0;
  }

  .home-section-image {
    border-radius: 50%;
    width: 250px;
    height: 250px;
    border: 4px solid #252525;
    margin: 35px auto 0px;
    display: block;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .home-section-title::before {
    position: absolute !important;
    content: "" !important;
    width: 35px !important;
    height: 4px !important;
    background-color: #ffb400 !important;
    left: 0;
    margin-top: 28px;
    opacity: 0.8;
  }
  .home-section-image {
    border-radius: 50%;
    width: 350px;
    height: 350px;
    border: 4px solid #252525;
    margin: 35px auto 0px;
    display: block;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1439px) {
  .home-section .row {
    flex-direction: row;
  }

  .home-section-image-size {
    width: 100%;
    height: calc(100vh - 80px);
  }

  .home-section-title::before {
    position: absolute !important;
    content: "" !important;
    width: 35px !important;
    height: 4px !important;
    background-color: #ffb400 !important;
    left: 0;
    margin-top: 28px;
    opacity: 0.8;
  }
}
@media only screen and (min-width: 1440px) {
  .home-section-title::before {
    position: absolute !important;
    content: "" !important;
    width: 35px !important;
    height: 4px !important;
    background-color: #ffb400 !important;
    left: 0;
    margin-top: 28px;
    opacity: 0.8;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .home-section-title {
    font-size: 43px;
  }
  .home-section-title-span {
    font-size: 43px;
  }
}
