.noPadding {
  padding: 0;
  margin: 0;
}

.main-background {
  background-color: #111111 !important;
  color: #fff;
  height: 100%;
  width: 100%;
}

.home-section-image {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  height: 33rem;
  z-index: 111;
  border-radius: 30px;
  left: 0;
  margin-top: 50px;
  box-shadow: 0 0 7px rgb(0 0 0 / 90%);
}

.home-section-title {
  font-size: 51px;
  line-height: 62px;
  font-weight: 700;
  margin: 18px 0 10px;
  position: relative;
  padding-left: 50px;
  color: #ffb400;
}
.home-section-title-span {
  font-size: 51px;
  line-height: 62px;
  font-weight: 700;
  margin: 18px 0 10px;
  position: relative;
  padding-left: 50px;
  color: #fff;
}

.home-section-text {
  margin: 15px 0 28px;
  font-size: 16px;
  line-height: 35px;
  text-align: justify !important;
}

.get-verified-btn {
  background-color: #ffff !important;
  border-color: #e8f6f2 !important ;
  color: #4f6468 !important;
  padding: 16px 70px 16px 35px;
}
